body{
    font-family: 'Libre Baskerville', serif;
    margin-left: 20px;
}
.display-flex{
    display: flex;
}

.border{
    border-left: 5px solid orange;
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
    margin-top: 20px;
    margin-left: 30px;
}
.half-width img{
    width: 70%;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 20px;

}

h1{
    font-size: 50px;
}

.button{
    background-image: linear-gradient(rgb(63, 29, 4), rgb(82, 48, 24));
    font-size: 10px;
    font-weight: 700;
    color: white;
    background-size: 30px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;

}

#text-align{
    text-align: justify;
}

.margin{
    margin-top: 60px;
}

.padding{
    padding: 30px 10px 5px 10px;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 10px;
    width: 400px;
}

.padding h3{
    font-size: 20px;
    text-align: left;
}


#margin{
    margin-left: 5px;
    margin-right: 100px;
    background-image: linear-gradient(rgb(23, 162, 197), rgb(31, 156, 187));
}
#left{
    margin-left: 5px;
    margin-right: 5px;
    background-image: linear-gradient(rgb(194, 159, 64), rgb(190, 139, 62));
}
#right{
    margin-left: 100px;
    margin-right: 5px;
    background-image: linear-gradient(rgb(46, 170, 88), rgb(41, 138, 65));
}
.padding h3{
    text-align: center;
}


.image-width{
    width: 90px;
}